footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 180px;
  padding-bottom: 100px;

  .footer-bg {
    position: absolute;
    z-index: -3;
    background: #f8f8f8;
    left: -10vw;
    top: 0px;
    height: 100%;
    width: 110vw;
  }

  .about-block {
    width: 340px;

    p {
      color: #4f5665;
      line-height: 30px;

      span {
        font-weight: 500;
      }
    }

    .social-icons {
      display: flex;
      column-gap: 0.8rem;
      margin-top: 30px;

      .icon {
        background: #fff;
        padding: 8px;
        padding-left: 10px;
        border-radius: 50%;
        box-shadow: -3px 19px 45px -10px rgba(34, 60, 80, 0.22);
      }
    }

    .copyright {
      color: #afb5c0;
      margin-top: 30px;

      span {
        font-weight: 500;
      }
    }
  }

  .options {
    display: flex;
    justify-content: space-between;
    width: 47%;

    .block {
      display: flex;
      flex-direction: column;
      row-gap: 1.2rem;

      a {
        text-decoration: none;
        color: #4f5665;
      }

      .anim > a {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 1.8px;
          bottom: 0;
          margin: -5px 0;
          background-color: #4f5665;
          visibility: hidden;
          transform: scaleX(0);
          transition: all 0.4s ease-in-out 0s;
        }
        &:hover:before {
          visibility: visible;
          transform: scaleX(1);
        }
      }

      h4 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 1.3rem;
      }

      p {
        margin: 0;
        color: #4f5665;
      }
    }
  }
}
