.testimonials {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 10%;

  .text-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .header {
      width: 480px;
      margin-bottom: 30px;
    }

    .sub-header {
      width: 555px;
      margin: 0;
      margin-bottom: 70px;
    }
  }

  .carousel {
    .inner {
      display: inline-flex;
      column-gap: 50px;
      transition: transform 0.3s;
    }
  }

  .indicators {
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    margin-top: 70px;
    width: 85%;

    .page-count {
      display: flex;
      height: 20px;
      column-gap: 15px;
      transition: 0.3s;

      .circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #dde0e4;
        transition: 0.3s;
      }

      .current {
        width: 50px;
        background-color: #f53838;
        border-radius: 10px;
        transition: 0.3s;
      }
    }

    .buttons {
      display: flex;
      column-gap: 1rem;

      .prev {
        width: 60px;
        height: 60px;
        border: none;
        background-image: url(../../assets/prev-btn.svg);
        transition: 0.3s;

        &:hover {
          background-image: url(../../assets/prev-btn-active.svg);
        }
      }

      .next {
        width: 60px;
        height: 60px;
        border: none;
        background-image: url(../../assets/next-btn.svg);
        transition: 0.3s;

        &:hover {
          background-image: url(../../assets/next-btn-active.svg);
        }
      }
    }
  }
}
