.testimonial {
  width: 360px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px #dddddd solid;
  padding: 30px;

  .user-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .name-location {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      width: 100%;
      height: 50px;
      margin-left: 10px;

      h3 {
        font-size: 19px;
        font-weight: 500;
        margin: 0;
        margin-top: 5px;
      }

      p {
        width: 150px;
        text-align: left;
        margin: 0;
        padding: 0;
        font-size: 15px;
        color: #4f5665;
      }
    }

    .rating {
      display: flex;
      justify-content: space-between;
      width: 70px;
    }
  }

  .text {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 0;
  }
}

.red {
  border: 2px #f53838 solid;
}
