.app {
  padding: 0 10%;
  padding-top: 0.5%;
  font-family: 'Rubik', sans-serif;
  overflow: hidden;

  .header {
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
  }

  .sub-header {
    line-height: 30px;
    color: #4f5665;

    .bold {
      font-weight: 500;
    }
  }

  @media (max-width: 1350px) {
    padding: 0 4%;
  }
}
