.app {
  padding-top: 0.5%;
  font-family: 'Rubik', sans-serif;
  overflow: hidden;

  .header {
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
  }

  .sub-header {
    line-height: 30px;
    color: #4f5665;

    .bold {
      font-weight: 500;
    }
  }
}

section {
  padding: 0 10%;
}

.darker-bg-color {
  padding-top: 70px;
  background: linear-gradient(#fafafa, #ffffff);
  height: max-content;
}
