.app {
  padding-top: 0.5%;
  font-family: 'Rubik', sans-serif;
  overflow: hidden;
}

section {
  padding: 0 10%;
}

.darker-bg-color {
  padding-top: 70px;
  background: linear-gradient(#fafafa, #ffffff);
  height: max-content;
}
